<!DOCTYPE html>
<html lang="pt_br">
    <head>
        <!-- prepara o conteúdo para qq tipo de tamanho de tela -->
        <meta charset="UTF-8"> <!-- existem diversas tags meta -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#8257E5">

        <title>Terapy | Conecte-se com uma escuta atenta</title>

        <link rel="shortcut icon" href="./static/images/favicon.png" type="image/png">

        <link rel="stylesheet" href="./static/styles/partials/page-success-background.css">

        <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">

        <script type="text/javascript">

            //setTimeout(function(){
            //    alert("Hello");
            //    window.location.href = "/study";}, 2000);
        </script>
    </head>
    <body id="page-success-background">
        <!-- div id="container" onload="setTimeout();" -->
        <div id="container" onload="setTimeout();">
            <div class="logo-container">
                <!-- img src="./static/images/success-background.svg" alt="Cadastro Salvo" -->
            </div>
            <div class="text-container">
                <img src="./static/images/icons/success-check-icon.svg" alt="Sucesso">
                <h1>
                    Cadastro salvo!
                </h1>
                <h2>
                    Tudo certo, seu cadastro está na nossa lista de profissionais. <br/>
                    Agora é só ficar de olho no seu Whatsapp.
                </h2>
                <div class="buttons-container">
                    <a class="study"  href="/search">
                        <svg width="1.5em" height="2.0125em" viewBox="0 0 16 17" fill="#FFFFFF" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M8 16.016a7.5 7.5 0 0 0 1.962-14.74A1 1 0 0 0 9 0H7a1 1 0 0 0-.962 1.276A7.5 7.5 0 0 0 8 16.016zm6.5-7.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
                          <path d="M6.94 7.44l4.95-2.83-2.83 4.95-4.949 2.83 2.828-4.95z"/>
                        </svg>
                        Paciente
                    </a>

                    <a class="give"  href="/give">
                        <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="#FFFFFF" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M2 2.5A2.5 2.5 0 0 1 4.5 0h7A2.5 2.5 0 0 1 14 2.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2.5zM4.5 1A1.5 1.5 0 0 0 3 2.5v10.795a4.2 4.2 0 0 1 .776-.492C4.608 12.387 5.937 12 8 12s3.392.387 4.224.803a4.2 4.2 0 0 1 .776.492V2.5A1.5 1.5 0 0 0 11.5 1h-7z"/>
                          <path fill-rule="evenodd" d="M8 11a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM6 2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5z"/>
                        </svg>
                        Profissional
                    </a>

                    <!--<a class="study"  href="/study">-->

                    <!--    Acessar Lista-->
                    <!--</a>-->
                </div>
            </div>
            <!--img class="hero-image" src="/images/landing.svg" alt="Plataforma de estudos"-->


            <!--p class="total-connections">
                Total de 200 conexões já realizadas
                <img src="/images/icons/purple-heart.svg" alt="Coração roxo">
            </p-->
        </div>
    </body>
</html>